{{#videos}}
  <figure class="vimeography-thumbnail">
    <a href="{{link}}" title="{{name}}" data-uri="{{uri}}" data-video-width="{{width}}" data-video-height="{{height}}" data-description="{{description}}">
      <img alt="{{name}}" src="{{thumbnail_large}}">
      <figcaption>
        <h1>{{name}}</h1>
        <p>{{{short_description}}}</p>
      </figcaption>
    </a>
  </figure>
{{/videos}}
