/* Any theme specific CSS declarations can be written here. */
.vimeography-unisys, .vimeography-unisys .vimeography-thumbnail, .vimeography-unisys .vimeography-thumbnail a {
  *zoom: 1; }
  .vimeography-unisys:before, .vimeography-unisys .vimeography-thumbnail:before, .vimeography-unisys .vimeography-thumbnail a:before, .vimeography-unisys:after, .vimeography-unisys .vimeography-thumbnail:after, .vimeography-unisys .vimeography-thumbnail a:after {
    content: "";
    display: table; }
  .vimeography-unisys:after, .vimeography-unisys .vimeography-thumbnail:after, .vimeography-unisys .vimeography-thumbnail a:after {
    clear: both; }

.vimeography-unisys .vimeography-thumbnail a, .vimeography-unisys .vimeography-thumbnail figcaption h1, .vimeography-unisys .vimeography-thumbnail figcaption p {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.vimeography-unisys *, .vimeography-unisys *:after, .vimeography-unisys *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.vimeography-unisys .video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 Aspect Ratio */ }
.vimeography-unisys .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.vimeography-unisys {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); }
  .vimeography-unisys .vimeography-player-container {
    width: 100%; }
  .vimeography-unisys .vimeography-thumbnails {
    max-height: 240px;
    overflow-y: auto;
    background-color: #444; }
  .vimeography-unisys .vimeography-thumbnail {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #333;
    outline: 0; }
    .vimeography-unisys .vimeography-thumbnail.vimeography-active a {
      background-color: #555;
      outline: 0; }
      .vimeography-unisys .vimeography-thumbnail.vimeography-active a h1 {
        color: #fff; }
      .vimeography-unisys .vimeography-thumbnail.vimeography-active a p {
        color: #ddd; }
    .vimeography-unisys .vimeography-thumbnail a {
      display: block;
      outline: 0;
      padding: 10px;
      background-color: #444; }
      .vimeography-unisys .vimeography-thumbnail a:hover, .vimeography-unisys .vimeography-thumbnail a:active {
        background-color: #555;
        outline: 0; }
        .vimeography-unisys .vimeography-thumbnail a:hover h1, .vimeography-unisys .vimeography-thumbnail a:active h1 {
          color: #fff; }
        .vimeography-unisys .vimeography-thumbnail a:hover p, .vimeography-unisys .vimeography-thumbnail a:active p {
          color: #ddd; }
    .vimeography-unisys .vimeography-thumbnail figcaption {
      float: left;
      padding: 0 0 0 10px;
      width: 80%; }
      .vimeography-unisys .vimeography-thumbnail figcaption h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1em;
        margin: 0;
        padding: 30px 0 5px 0;
        color: #ddd; }
      .vimeography-unisys .vimeography-thumbnail figcaption p {
        font-size: 11px;
        line-height: 1.2em;
        margin: 0;
        padding: 0;
        color: #bbb; }
    .vimeography-unisys .vimeography-thumbnail img {
      float: left;
      display: block;
      max-width: 20%;
      width: 100%; }

@media only screen and (min-width: 940px) {
  .vimeography-unisys {
    position: relative; }
    .vimeography-unisys .vimeography-player-container {
      width: 75%;
      float: left; }
    .vimeography-unisys .vimeography-thumbnails {
      width: 25%;
      position: absolute;
      max-height: 100%;
      bottom: 0;
      top: 0;
      right: 0;
      overflow-x: hidden; }
    .vimeography-unisys .vimeography-thumbnail figcaption {
      width: 90%;
      position: absolute;
      text-align: center;

    }
    .vimeography-unisys .vimeography-thumbnail img {
      max-width: 100%;
      opacity: 0.2;
  }
}

